{% extends "base.html" %}

{% load static %}

{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content%}
<br>
<br>
<br>
<div class="container">
	<div class="card card-container">
		<h6 class="card-title">Формы обхода:</h6>
		{% for i in bupass_form %}
		<a href="{% url 'showsurveyform' i.id_form %}"><br>{{i}}</a>
		{% endfor %}
	</div>
</div>
<br>
<form method="POST" novalidate>
	{% csrf_token %}
	<div class="container">
		<div class="card card-container">
			<h4 class="card-title">Форма обхода:</h4>
			<br>
			<label for="resp_name">Имя</label>{{form.resp_name}}
			<label for="resp_phone_number">Номер телефона</label>{{form.resp_phone_number}}
			<label for="comment">Комментарий</label>{{form.comment}}
			<br>
			<div class="row">
				<button class="btn btn-dark" type="submit" value="Submit">Добавить</button>
			</div>
		</div>
	</div>
</form>
{% endblock %}