{% extends "base.html" %}

{% load static %}

{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
	<div class="card card-container">
		<br>
		<h5 class="card-title">Имя</h5>
		<p class="card-text">{{survey_form_data.resp_name}}</p>
		<br>
		<h5 class="card-title">Номер телефона</h5>
		<p class="card-text">{{survey_form_data.resp_phone_number}}</p>
		<br>
		<h5 class="card-title">Комментарий</h5>
		<p class="card-text">{{survey_form_data.comment}}</p>
	</div>
</div>
{% endblock %}