{% extends "base.html" %}

{% load static %}

{% block title %}

{% endblock %}

{% block content%}
<br>
<br>
<br>
<br>
<form method="POST">
    {% csrf_token %}

<div class="container">
     <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{form_camp.campaign_name}}</h4>
            <p class="card-text">{{form_camp.campaign_description}}</p>
           
        </div>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Сохранить</button>
     </div>

</div>
</form>
<div class="container">
    <div class="card card-container">
        <h5 class="card-title">Добавить:</h5>
    <form  action={% url 'homeedit' camp_data.id_campaign %}>
        <br><button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Добавить дома</button>
    </form>
    <form  action={% url 'polledit' camp_data.id_campaign %}>
       <br> <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Добавить обходы</button>
    </form>
    <form  action={% url 'formpoll' camp_data.id_campaign %}>
        <br><button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Добавить формы обхода</button>
    </form>
    </div>
</div>
{% endblock %}
