{% extends "base.html" %}

{% load static %}

{% block title %}

{% endblock %}

{% block content%}
<br>
<br>
<h1>All CAMP</h1>
{% if request.method == "GET" %}
{% for i in data %}
<div class="container">
<div class="card card-container">
    <div class="card-body">
        <h4 class="card-title">{{i.campaign_name}}</h4>
        <p class="card-text">{{i.campaign_description}}</p>
        <form  action={% url 'showcamp' i.id_campaign %}>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Управление кампанией</button>
        </form>
    </div>
</div>
</div>
{% endfor %}
{% endif %}

{% endblock %}